    *{
        background-color:rgb(225, 235, 236);
    }
    body{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content:space-around;
    }
    #contenedor{
        margin-top: 10rem;
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
    }
    #contador{

        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        font-size: 5rem;
        width: 100%;
    }
    #horaActual{
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        font-size: 2rem;
        width: 100%;
    }
    button{

        font-size: 2rem;
        width: 30%;
        height: 5rem;
        background-color: white;
    }
    h2{

        border-bottom: solid;
    }
    #mostrarHoraActual{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 100%;
        text-align: center;
        margin-bottom: 10rem;
    }
    #mostrarContador{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: 100%;
        text-align: center;
    }
