body{
    background: grey;
    transition-duration: 10s ;
}
.bola{
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 10rem;
}

#container{
    background-color: black;
    padding-top: 2rem;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
}
#sec{
    -moz-transition-duration: 2s;
    transition-duration: 2s;
}


.titulo{
    padding-bottom: 2rem;
}

.navbar-expand-lg{
    padding: 0%;
    margin: 0%;
    color: ;
}
.titulo > h1 > a{
    font-size: 3.5rem;
    transition: 3s;
}
.titulo > h1 > a:hover{
    color: red;
    font-size: 4rem;
}
.titulo > h1 > a{
    text-decoration: none;
    color: yellow;
}

.caja-header{
    background: white;
}
