<div class="container-fluid main">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    SignIn
                </div>
                <div class="card-body">
                    
                    <form (ngSubmit)="adminSignIn()">
    
                        <div class="form-group">
                            <input type="text" [(ngModel)]="adminUser.adminId"  name="adminId" class="form-control" placeholder="AdminId" required autofocus>
                        </div>
    
                        <div class="form-group">
                            <input type="password" [(ngModel)]="adminUser.password"  name="password" class="form-control" placeholder="Password" required autofocus>
                        </div>
    
    
                        <button type="submit" class="btn btn-primary btn-block">
                            Sign In
                        </button>
    
                        <!-- <div class="form-group">
    
                        </div>
                         -->
    
                    </form>
                        
    
                    
                </div>
            </div>
        </div>
    </div>
</div>