
<div class="container-fluid register-container">
    
  <div class="container-fluid col-12 offset-0 col-md-8 offset-md-2 col-xl-6 offset-xl-3 register-sub-container">

    <h1 class="d-flex justify-content-center">Registro</h1>

    <div class="form-group col-10 offset-1 register-form">
      <label for="userName">Nombre de Usuario</label>
      <input type="text" name="userName" id="userName" class="form-control bg-white" placeholder="">
    
      <label for="userEmail">Correo Electrónico</label>
      <input type="text" name="userEmail" id="userEmail" class="form-control bg-white" placeholder="">
    
    </div>
  </div>
</div>

